# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
pip-selfcheck.json
htmlcov/
.tox/
.nosexy/
.nosetests/
nosetests.xml
pylintrc
.jax/
.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/
backend/venv/
backend/.env

# Node / Next.js
node_modules/
/out/
/.next/
.next/
/frontend/node_modules/
/frontend/.next/
frontend/node_modules/
frontend/.next/
frontend/out/
.DS_Store
*.pem

# Database / Volumes
postgres_data/
*.db
*.sqlite
sqlite.db
backend/*.db
backend/*.sqlite

# Environment configs
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
backend/app/core/.env
